{{ partial "header.html" . }}

<div class="filters">
	<button id="filter-all" type="button" class="btn btn-primary">All</button>
	<button id="filter-original" type="button" class="btn btn-outline-primary">Original Titles</button>
	<button id="filter-contributed" type="button" class="btn btn-outline-primary">Contributed Works</button>
</div>
<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
	{{ range.Data.Pages }}
	<a href="{{ .RelPermalink }}" class="col scale-animation scale-click game-cover" data-game-type="{{ .Params.Type }}">
		<div>
			<img class="rating" src="img/Everyone.webp"/>
			{{ with .Resources.GetMatch "cover.*" }}
				<img class="img-fluid" src="{{ .RelPermalink }}"/>
			{{ end }}
			<p class="spine">{{ .Title }}</p>
			<div class="cover-back"></div>
		</div>
		<center><p>{{ .Title }} ({{ .Params.Release }})</p></center>
	</a>
	{{ end }}
</div>

{{ with resources.Get "js/game-library.js" }}
<script src="{{ .RelPermalink }}"></script>
{{ end }}

{{ partial "footer.html" . }}
