html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #FAF9F0;
}

* {
  color: #121435;
}

a {
  color: #FF5722;
}

.nav-link {
  font-size: 18px;
  font-weight: bold;
  color: #121435;
  transition: 0s;
  text-align: center;
}

.nav-link:hover {
  color: #FF5722;
}

.active > .nav-link {
  color: #FF5722;
}

.square > a > div:after {
  content: "";
  display: block;
  padding-top: 100%;  /* initial ratio of 1:1*/
}

.rectangle > a > div:after {
  content: "";
  display: block;
  padding-top: 47%;
}

.tile > a > div {
  background-color: #EDEBCA;
  border-radius: 18px;

  width: 100%;
  height: 100%;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;
}

.tile h4 {
  position: absolute;
  padding: 16px;
}

.tile-icon {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 30px;
  margin: 10px;
}

.col-1-5 
{
  flex: 0 0 auto;
  width: 4.16666667%;
}

/* .profile {
  border-radius: 50%;
} */

.experience-tab {
  border-radius: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #EDEBCA;
}

.card-item {
  background-color: #EDEBCA;
  border-radius: 28px;
  padding: 10px;
  text-decoration: none;
  position: relative;

  transition: transform 0.1s;
}

.card-item > div > h2 {
  padding: 10px 0px 10px 0px;
}

.card-item > div > p {
  padding: 0px 20px 0px 20px;
}

.card-img {
  border-radius: 18px;
  width: 100%;
}

.card-icon {
  height: 100px;
  z-index: 2;
  position: absolute;
  bottom: 0px;
  left: 50%;

  transform: translate(-50%, 40%);

  /* filter: drop-shadow(5px 0 0 #EDEBCA) 
          drop-shadow(0 5px 0 #EDEBCA)
          drop-shadow(-5px 0 0 #EDEBCA) 
          drop-shadow(0 -5px 0 #EDEBCA); */

  filter: drop-shadow(4px 0 0 #EDEBCA) 
          drop-shadow(0 4px 0 #EDEBCA)
          drop-shadow(-4px 0 0 #EDEBCA) 
          drop-shadow(0 -4px 0 #EDEBCA)
          drop-shadow(1px 1px 0 #EDEBCA)
          drop-shadow(1px -1px 0 #EDEBCA)
          drop-shadow(-1px -1px 0 #EDEBCA)
          drop-shadow(-1px 1px 0 #EDEBCA);
}

.card-icon-animation {
  transition: 0.1s;
}

.press-item {
  background-color: #EDEBCA;
  border-radius: 28px;
  padding: 0px;
  text-decoration: none;
}

.press-item > img {
  border-radius: 18px;
  height: 200px;
  margin: 10px;
  float: left;
}

.press-item > div {
  padding: 18px;
  height: 100%;
  overflow-y: hidden;
  position: relative;
}

.press-date {
  position: absolute;
  bottom: 18px;
  right: 18px;
  text-align: right;
}

.scale-animation {
  transform: scale(1);
  transition: transform 0.1s;
}

@media screen and (min-width: 768px) {
  .card-item:hover > div > .card-icon-animation {
      transform: translate(-50%, 20%);
  }
  
  .scale-animation:hover {
      transform: scale(1.03);
  }
  
  .scale-click:active {
      transform: scale(1);
  }

  .navbar {
      padding-top: 20px;
  }

  .game-cover-animation > div {
      transition: transform 0.1s;
  }

  .game-cover > div {
      transform: rotate3d(0, 1, 0, 26deg);
  }
}

@media screen and (max-width: 768px) {
  .press-item {
      margin: 00px 10px 0px 10px;
  }

  .press-item > div > h2 {
      font-size: 22px;
  }

  .press-item > div > p {
      font-size: 0px;
  }

  .press-item > img {
      height: 150px;
  }

  .press-item > div {
      padding-left: 0px;
  }

  .post-item {
      margin: 00px 10px 0px 10px;
  }

  .post-item > div > h2 {
      font-size: 22px;
  }

  .post-item > div > p {
      font-size: 0px;
  }

  .post-item > img {
      height: 150px;
  }

  .post-item > div {
      padding-left: 0px;
  }

  .post-item > img {
    width: 180px;
  }

  .navbar {
      padding-top: 12px;
  }

  .filters {
      margin-top: 14px;
      justify-content: center;
      display: flex;
  }

  .filters > .btn {
      margin-right: 2px;
      margin-left: 2px;
  }
}

.filters {
  margin-bottom: 18px;
}

.nav-spacer {
  display: inline-block;
  margin: 2px;
}

@media screen and (min-width: 992px) {
  .nav-spacer {
      display: none;
  }
}

.video {
  border-radius: 18px;
}

.game-cover {
  text-decoration: none;
}

.game-cover > div > .img-fluid {
  border-radius: 18px;
  /* outline-style: solid;
  outline-width: 1px;
  outline-color: #121435; */
}

.game-cover > div {
  transform-origin: center right;
  /* transform: rotate3d(0, 1, 0, 26deg); */
  transform-style: preserve-3d;
  margin-bottom: 10px;
}

.spine {
  position: absolute;
  height: 100%;
  width: 35px;
  line-height: 35px;
  padding: 0px;
  margin: 0px;
  top: 0%;
  left: 0%;
  vertical-align: middle;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #121435;
  transform-origin: left;
  transform: rotateY(-90deg) translateX(-35px);
}

.cover-back {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #EDEBCA;
  transform: translate3d(0px, 0px, -35px);
  left: 0px;
  top: 0px;
  border-radius: 18px;
  
  /* outline-style: solid;
  outline-width: 1px;
  outline-color: #121435; */
  /* box-shadow: 0px 0px 33px -15px rgba(18,20,53,0.5); */
}

.rating {
  position: absolute;
  height: 12%;
  left: 5%;
  bottom: 4%;
}

.game-cover:hover > div {
  transform-origin: center right;
  transform: rotate3d(0, 1, 0, 0deg);
}

.project-tag {
  background-color: #EDEBCA;
}

/* override primary color of buttons. TODO: Use sass and change colors the proper way */
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-outline-primary:hover,
.btn-outline-primary:active {
  background-color: #FF5722 !important;
  border-color: #FF5722 !important;
  transition: all 0s;
  border-radius: 50vh;
}

.btn-outline-primary {
  color: #FF5722;
  border-color: #FF5722;
  transition: all 0s;
  border-radius: 50vh;
}

.game-screenshot {
  margin-bottom: 12px;
  border-radius: 18px;
}

.game-overview {
  font-size: 20px;
}

p:has(+ ul) {
  margin-bottom: 0;
}
p + ul {
  margin-top: 0;
}

.post-item {
  background-color: #EDEBCA;
  border-radius: 28px;
  padding: 0px;
  text-decoration: none;
}

.post-item > img {
  border-radius: 18px;
  height: 180px;
  object-fit: cover;
  margin: 10px;
  float: right;
}

.post-item > div {
  padding: 18px;
  height: 100%;
  overflow-y: hidden;
  position: relative;
}

.post-date {
  position: absolute;
  bottom: 18px;
  left: 18px;
}

@media (min-width:1200px) {
  .col-xl-4-8 {flex: 0 0 auto; width: 40%;}
}

/* add extra padding to navbar on smallest size */
@media screen and (max-width: 576px) {
  .navbar{
    padding-right: 10px;
    padding-left: 10px;
  }
}

/* custom navbar icon/animation from: https://youtu.be/_MrShB9fh7U */

.navbar-toggler {
  width: 30px;
  height: 30px;
  position: relative;
  transition: .5s ease-in-out;
  color: #121435;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #121435;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  /* transition: .25s ease-in-out; */
}

/* temporary fix for Firefox collapse animation, used along with nav-bar-toggler.js */
.toggler-animation {
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  left: -20px;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

/* state when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  left: 0px;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}